@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-ExtraBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-ExtraLight.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-Light.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-SemiBold.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic';
  src: url('./assets/fonts/GothicA1-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

:root {
  font-family: 'Gothic';
  font-size: 16px;
  line-height: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #353a41;
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
